:root {
  --spacing-edge: 11px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: var(--text-primary);
  background-color: var(--bg-base);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
p {
  text-align: center;
}

#root {
  background-color: var(--bg-base);
}

.app {
  background-color: var(--bg-base);
}


.MuiTextField-root.app__horizontal-center,
.MuiButton-root.app__horizontal-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

