.page {
  height: inherit;
  width: inherit;
  margin: 0;
  border-radius: 3px;
  background-color: var(--bg-surface);
}

.newPage {
  position: fixed;
  bottom: calc(10px + env(safe-area-inset-bottom));
  left: calc(10px + env(safe-area-inset-left));
}
